*.pyc
*.png
*.tar.gz
libmo445/*
.vscode/
nicealgo.sty
projeto.tex
src_phase_2/models/FPNet.pth
src_phase_1/images_01/
src_phase_1/bin/
src_phase_2/bin/
notebook_samples/
src_phase_2/.ipynb_checkpoints/
.gitignore
src_phase_2/compare_8_june.txt
src_phase_2/contrastive_learning_debug.ipynb
src_phase_2/data/
src_phase_2/test_comparisons.txt
src_phase_2/valid_comparisons.txt
src_phase_2/train_comparisons.txt
src_phase_2/pipeline/wandb/
src_phase_2/scripts/wandb/
src_phase_2/wandb/
src_phase_2/models/
.idea/
