einops==0.4.1
imageio
imgaug
matplotlib
opencv-python
pandas==1.4.3
Pillow==9.1.1
scikit-image==0.19.3
scipy==1.8.1
torch
torch-snippets
torchaudio
torchsummary
torchvision
tqdm==4.64.0
wandb==0.12.19
